@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .main-bg {
        @apply bg-cover bg-no-repeat bg-center;
        background-image: radial-gradient(at 40% 20%, rgb(254, 95, 133) 0px, transparent 50%), radial-gradient(at 80% 0%, rgb(46, 137, 124) 0px, transparent 50%), radial-gradient(at 80% 100%, rgb(40, 12, 67) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(201, 0, 77) 0px, transparent 50%);
    }
}

.heart {
    --heart: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6.875C15 11.25 8.51312 14.7913 8.23687 14.9375C8.16406 14.9767 8.08268 14.9972 8 14.9972C7.91732 14.9972 7.83594 14.9767 7.76312 14.9375C7.48688 14.7913 1 11.25 1 6.875C1.00116 5.84764 1.40979 4.86269 2.13624 4.13624C2.86269 3.40979 3.84764 3.00116 4.875 3C6.16563 3 7.29562 3.555 8 4.49312C8.70438 3.555 9.83438 3 11.125 3C12.1524 3.00116 13.1373 3.40979 13.8638 4.13624C14.5902 4.86269 14.9988 5.84764 15 6.875Z' fill='white'/%3E%3C/svg%3E%0A");
}

.heart::before {
    content: var(--heart);
}

.heart::after {
    content: var(--heart);
}

.inputarea {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    font-size: 1.325rem;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.inputarea {
    @apply text-b-pink;
}

.inputarea:placeholder-shown {
    color: #dcdcdc;
}

.inputarea:focus {
    outline: 0;
}